
<div class="more-info__container">
    <h1>More Regex Info</h1>
    <code class="more-info__regex-text">{{ entity.pattern }}</code>
    <mat-divider class="more-info__section-divider"></mat-divider>
    <mat-nav-list>
        <h3 matSubheader>Source Locations</h3>
        <app-location-display *ngFor="let location of entity.sourceLocations" [location]="location"></app-location-display>
        <mat-divider></mat-divider>
        <h3 matSubheader>Forum Locations</h3>
        <app-forum-location-display *ngFor="let forum of entity.forumLocations" [location]="forum"></app-forum-location-display>
    </mat-nav-list>
    <mat-divider class="more-info__section-divider"></mat-divider>
    <div class="more-info__expander"></div>
    <div mat-dialog-actions align="end">
        <button mat-raised-button color="primary" [mat-dialog-close]="">CLOSE</button>
    </div>
</div>