.query-page__container {
    display: flex;
    height: 100%;
}

.query-page__container__mobile {
    @extend .query-page__container;
    display: flex;
    flex-direction: column;
}

.query-page__sidenav {
    flex: 1;
}

.query-page__main-content {
    flex: 3;
}