.home__container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    // padding: 64px 32px;
}

.home_return-link {
    text-decoration: none;
    color: white;
}

.home__content-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.home__tool-card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
