<div class="home__container">
    <mat-toolbar color="primary">
        <a routerLink="/home" class="home_return-link">RegexTools</a>
    </mat-toolbar>
    <div class="home__content-container">
        <mat-grid-list [cols]="3" rowHeight="2:1">
            <mat-grid-tile *ngFor="let tool of tools" [colspan]="1" [rowspan]="1">
                <mat-card>
                    <mat-card-title>{{ tool.title }}</mat-card-title>
                    <mat-card-content>
                        <p>{{ tool.description }}</p>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <a mat-raised-button [routerLink]="tool.link" color="primary">GO!</a>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>